fastapi
uvicorn
python-dotenv
sqlalchemy
supabase
chromadb
groq
sentence-transformers
bertopic
PyMuPDF
requests
httpx
pydantic
alembic
pytest
slowapi
python-multipart
pydantic-settings
psycopg[binary]
PyJWT
passlib
bcrypt